body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#333;
	overflow:hidden;
}
.game-container {
	position: relative;
	width: 500px;
	height: 500px;
	background-color: #222;
	border: 2px solid #fff;
}
.character {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: red;
	border-radius: 5px;
	top: 230px;
	left: 230px;
}

